<h1>Authorize OAuth client</h1>

<p>Do you want to allow <%= @oauth2.client.name %> to act on your behalf?</p>

<ul>
  <% @oauth2.scopes.each do |scope| %><%= scope %><% end %>
</ul>

<form method="post" action="/allow">
  <% @oauth2.params.each do |key, value| %>
    <input type="hidden" name="<%= key %>" value="<%= value %>">
  <% end %>

  <input type="checkbox" name="allow" id="allow" value="1">
  <label for="allow">Allow this application</label>

  <input type="submit" value="Go!">
</form>

