<!doctype html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>OAuth 2.0 demo</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>

    <div class="header"><div class="sub">
      <h1>OAuth 2.0 demo</h1>
      <h2>Steal my notes, why don&rsquo;t you</h2>
    </div></div>

    <div class="content"><div class="sub">
      <%= yield %>
    </div></div>

    <div class="footer"><div class="sub">
      <p>Copyright &copy; 2010 Songkick.com</p>
    </div></div>

  </body>
</html>

