<h3>Register you application</h3>

<% if @client.errors.any? %>
  <ul class="errors">
    <% @client.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<form method="post" action="/oauth/apps">
  <fieldset>
    <label for="name">Application name</label>
    <input type="text" name="name" id="name">
  </fieldset>
  <fieldset>
    <label for="redirect_uri">Callback URI</label>
    <input type="text" name="redirect_uri" id="redirect_uri">
  </fieldset>

  <fieldset>
    <input type="submit" value="Register">
  </fieldset>
</form>

