<h3>Client app: <%= @client.name %></h3>

<table>
  <tbody>
    <tr>
      <th scope="row">client_id</th>
      <td><%= @client.client_id %></td>
    </tr>
    <tr>
      <th scope="row">client_secret</th>
      <td><%= @client_secret %></td>
    </tr>
  </tbody>
</table>

